#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* -------- COMMON CSS -------- */

.profileIcon {
  width: 30px;
  margin: 0 auto;
  padding: 0px 20px;
}

.backBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.backBtn img {
  width: 20px;
  text-align: right;
  margin-right: 475px;
  margin-top: 20px;
}

/* -------- NAV CSS -------- */

/* header {
  position: relative;
} */

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px dashed white;
  padding: 5px 10px;
}

.navIcon {
  display: inline-block;
  align-self: center;
  justify-self: center;
  width: 65px;
}

.navTitle {
  display: inline-block;
  padding: 0px 10px;
  align-content: center;
  color: white;
}

.navLink {
  display: inline-block;
  padding: 0px 10px;
}

/* -------- HOME CSS -------- */

.row {
  display: flex;
}

.loginHub {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.signInHub {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginHub .card {
  margin: 25px auto;
  padding: 20px 60px 40px;
  width: 180px;
  background-color: cornflowerblue;
  color: #242424;
  border: 6px double #242424;
  border-radius: 18px;
}

.card {
  margin: 0 40px 25px;
  padding: 20px 60px 40px;
  background-color: cornflowerblue;
  color: #242424;
  border: 6px double #242424;
  border-radius: 18px;
}

.routeBtn a {
  color: white;
}

/* -------- MODAL CSS -------- */

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  position: relative;
  min-width: 400px;
  background-color: cornflowerblue;
  padding: 2rem;
  border-radius: 8px;
}

.modal-close {
  position: absolute;
  top: -5px;
  right: -10px;
  background: transparent;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

/* -------- FORM CSS -------- */

.register-form {
  display: flex;
  justify-content: space-around;
}

/* -------- PROFILE CSS -------- */
.UserProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.UserProfile h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.UserProfile ul {
  list-style: none;
  text-align: start;
  width: 100%;
  padding: 0;
  margin: 0;
}

.UserProfile li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  width: 100%;
}

.editProfileIcon {
  cursor: pointer;
  color: cornflowerblue;
}

.EditProfile form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
  width: 80%;
  /* width: 300px; */
}

/* USER TABLE */

.userFilters {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.userFilters input {
  padding: 5px;
  border: 1px solid #ccc;
}

.UserTable table {
  width: 100%;
  border-collapse: collapse;
}

.UserTable th {
  cursor: pointer;
  padding: 8px;
  border-bottom: 2px solid cornflowerblue;
}

.AddCourseForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  /* margin: 2rem auto; */
  width: 80%;
  padding: 50px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid cornflowerblue;
  border-radius: 10px;
}